<div id="mainContainer">
<div id="mainHeader"></div>
<div id="adsContainer">
<div data-id="1845025222" class="advBlock">
<div class="ellipsis multiline header">Мастера по релаксации!</div>
<div class="ellipsis multiline description">Массажистки подарят вам новые ощущения</div>
<div class="ellipsis cost" style=""></div>
<div class="imageCon" data-image-id="1845025222" data-image-index="0" style="width: 156px; height: 150px;">
<div class="control_next" style="display: none;">&gt;&gt;</div>
<div class="control_prev" style="display: none;">&lt;&lt;</div>
<ul style="width: 156px;">

<li><img src="https://cdn.yottos.com/img2/16/1681fe42fd0911e79a2300e081bad801.webp" alt=""></li>

</ul>
</div>
<div class="ellipsis button" style="">Купить</div>
</div>

<div data-id="2529381554" class="advBlock">
<div class="ellipsis multiline header">Лучший салон эротического массажа!</div>
<div class="ellipsis multiline description">50 лучших массажисток подарят тебе наслаждение!</div>
<div class="ellipsis cost" style=""></div>
<div class="imageCon" data-image-id="2529381554" data-image-index="1" style="width: 156px; height: 150px;">
<div class="control_next" style="display: none;">&gt;&gt;</div>
<div class="control_prev" style="display: none;">&lt;&lt;</div>
<ul style="width: 156px;">

<li><img src="https://cdn.yottos.com/img2/8b/8bca60a2facc11e7b19000e081bad801.webp" alt=""></li>

</ul>
</div>
<div class="ellipsis button" style="">Купить</div>
</div>

<div data-id="3261474723" class="advBlock">
<div class="ellipsis multiline header">Грибок ногтей умрет навечно!</div>
<div class="ellipsis multiline description">Грибок отсохнет за ночь, если взять самую обычную...</div>
<div class="ellipsis cost" style=""></div>
<div class="imageCon" data-image-id="3261474723" data-image-index="2" style="width: 156px; height: 150px;">
<div class="control_next" style="display: none;">&gt;&gt;</div>
<div class="control_prev" style="display: none;">&lt;&lt;</div>
<ul style="width: 156px;">

<li><img src="https://cdn.yottos.com/img2/0c/0c84e24801db11e88bc2ac1f6b203482.webp" alt=""></li>

</ul>
</div>
<div class="ellipsis button" style="">Купить</div>
</div>

<div data-id="2809561392" class="advBlock">
<div class="ellipsis multiline header">Давление всегда будет 120/80</div>
<div class="ellipsis multiline description">Не пейте таблетки от давления. Лучше взять...</div>
<div class="ellipsis cost" style=""></div>
<div class="imageCon" data-image-id="2809561392" data-image-index="3" style="width: 156px; height: 150px;">
<div class="control_next" style="display: none;">&gt;&gt;</div>
<div class="control_prev" style="display: none;">&lt;&lt;</div>
<ul style="width: 156px;">

<li><img src="https://cdn.yottos.com/img2/ef/ef213fd4fbbe11e7becc0cc47ae1155a.webp" alt=""></li>

</ul>
</div>
<div class="ellipsis button" style="">Купить</div>
</div>

<div data-id="685059717" class="advBlock">
<div class="ellipsis multiline header"> Суставы будут как в 17 лет!</div>
<div class="ellipsis multiline description">Оказывается, средство №1 от боли в суставах, обычные...</div>
<div class="ellipsis cost" style=""></div>
<div class="imageCon" data-image-id="685059717" data-image-index="4" style="width: 156px; height: 150px;">
<div class="control_next" style="display: none;">&gt;&gt;</div>
<div class="control_prev" style="display: none;">&lt;&lt;</div>
<ul style="width: 156px;">

<li><img src="https://cdn.yottos.com/img2/e2/e2e34224fb6b11e7966c0cc47ae1155c.webp" alt=""></li>

</ul>
</div>
<div class="ellipsis button" style="">Купить</div>
</div>
</div>
<div id="mainFooter"></div>
</div>