<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="lt-ie6"><![endif]-->
<!--[if IE 7]>
<html class="lt-ie7"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html><!--<![endif]-->
<head>
    <script nonce="{{ nonce }}">window.adsparams = {{ js|safe }};</script>
    {#    <script nonce="{{ nonce }}" integrity="{{ static_hash['static/js/block.js'] }}" async defer src="/v2/static/js/block.js" crossorigin="anonymous"></script>#}
    <script async defer src="/v2/static/js/block.js?v={{ version }}"></script>
    <meta name="referrer" content="origin"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"/>
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width, Downlink">
    <meta name=viewport content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style type="text/css" nonce="{{ nonce }}">{{style}}</style>
</head>
<body>
<div id="{{ rend_id|safe }}"></div>
{% if index == 0 and not console_detect and not is_customer and not is_bot %}
    <div id="al_f"></div>
{% endif %}
</body>
</html>
