<!DOCTYPE html>
<html>
<head>
    <meta name="referrer" content="origin"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"/>
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width, Downlink">
    <meta name=viewport content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
</body>
</html>
