<!DOCTYPE html>
<html>
<head>
    <meta name="referrer" content="origin"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
</head>
<body style="width: {{ w }}px; height: {{ h }}px; background: transparent;">
<div style="width: {{ w }}px; height: {{ h }}px; background: transparent;">
    <script>
        var my_google_ad_channel = "{{ block_id }}";
    </script>
    {{ userCode|safe }}
</div>
</body>
</html>
